@font-face{
  font-family: 'Fredoka One';
  src : url('./font/Fredoka-One.ttf');
}
@font-face{
  font-family: 'Open Sans';
  src : url('./font/OpenSans-Semibold.ttf');
}
body,ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
/*顶部header*/
header.top {
  z-index: 1;
  position: fixed;
  padding-left: 192px;
  padding-right: 192px;
  padding-top: 27px;
  width: 100%;
  box-sizing: border-box;
}
/*RS card标志*/
.logoDiv {
  float: left;
  padding-bottom: 9px;
}
.logo span {
  font-family: 'Fredoka One';
  font-size: 30px;
}
.logo span.rs {
  color: rgb(232, 103, 107);
}
.logo span.card {
  color: rgb(154, 157, 162);
  padding: 4px;
}
/*顶部导航栏*/
.textNavBar {
  font-family: 'Open Sans';
  font-size: 13px;
  float: right;
  padding-top: 10px;
  padding-bottom: 8px;
}
.textNavBar li {
  float: left;
  padding-left: 17px;
  padding-right: 17px;
}
.textNavBar li a:hover {
  border-bottom: 3px solid rgb(232, 103, 107);
}
.textNavBar li:nth-last-child(1) {
  padding-right: 0;
}
.textNavBar a {
  color: rgb(204, 202, 203);
  padding-bottom: 6px;
}
/*墨镜背景图*/
div.bck {
  height: 516px;
  background-image: url(./img/rs-cover-2-2-1-1.jpg);
  background-position: center;
  background-size: cover;
  z-index: -1;
}
div.bck .mask {
  height: 516px;
  background-color: rgba(0, 0, 0, 0.7);
}

