#siteMain { transition: opacity 1.2s ease-in; opacity: 0; overflow: hidden; }
.heightNone { height: 0; }
.active { opacity: 1 !important; }
.hide { display: none !important; opacity: 0; }
.clearfix::after { content: ''; display: block; clear: both; }
body { background-color: rgb(239, 239, 239); }
a { color: inherit; }
body, ul { margin: 0; padding: 0; list-style: none; }
a { text-decoration: none; }
/*顶部header*/
header.top { z-index: 1; position: fixed; padding-left: 6.4rem; padding-right: 6.575rem; padding-top: 1.275rem; padding-bottom: 0.725rem; width: 100%; box-sizing: border-box; transition: all .7s; color: rgb(204, 202, 203); }
header.whiteBar { background-color: rgb(255, 255, 255); box-shadow: 0px 3px 8px -1px rgba(0, 0, 0, 0.75); padding-top: 0.4rem; padding-bottom: 0.3rem; color: #3d4451; }
/*RS card标志*/
.logoDiv { float: left; padding-bottom: .5625rem; }
.logo span { font-family: 'Fredoka One'; font-size: 1.875rem; }
.logo span.rs { color: rgb(232, 103, 107); }
.logo span.card { color: rgb(154, 157, 162); padding: .25rem; }
/*顶部导航栏*/
.textNavBar { font-family: 'Open Sans'; font-size: .8125rem; float: right; padding-top: .625rem; padding-bottom: .5rem; }
.textNavBar ul.menu > li { float: left; margin-left: 1.0625rem; margin-right: 1.0625rem; position: relative; }
.textNavBar li a::after { width: 0; transition: all .4s; display: block; height: .1875rem; content: ''; top: 120%; border-radius: 3px; position: absolute;}
.textNavBar li a:hover::after { width: 100%; background: rgb(232, 103, 107); }
.textNavBar li a.active::after { width: 100%; background: rgb(232, 103, 107); }
.textNavBar li:nth-last-child(1) { padding-right: 0; }
.textNavBar a { padding-bottom: .375rem; transition: all .2s; }
.textNavBar ul.menu > li ul.menuChild {  visibility: hidden;margin-top: 6px; background: white; position: absolute; white-space: nowrap; color: rgb(61, 68, 81); top: 100%; right: 0; transform: translateX(-50%); opacity: 0; transition: all .4s; }
.textNavBar ul.menu > li:hover ul.menuChild { box-shadow: 0 0 3px rgba(0, 0, 0, 0.5); opacity: 1; transform: translateX(0%); visibility: visible;}
.textNavBar ul.menu > li ul.menuChild li:hover { color: rgb(233, 111, 115); cursor: pointer; }
.textNavBar ul.menuChild > li { padding: 10px 30px; }
/*墨镜背景图*/
div.bck { height: 32.25rem; width: 100%; position: absolute; left: 0; top: 0; background-image: url(./img/rs-cover-2-2-1-1.jpg); background-position: center; background-size: cover; z-index: -1; }
div.bck .mask { height: 32.25rem; background-color: rgba(0, 0, 0, 0.7); }
/*个人信息卡片*/
.main { margin-top: 10.625rem; overflow: hidden; width: 58.125rem; margin-left: auto; margin-right: auto; box-shadow: 0 0 5px rgba(0,0,0,0.5); }
div.userCard { background-color: rgb(255, 255, 255); padding-bottom: 4rem; }
nav.logoNavBar { background-color: rgb(232, 103, 107) }
img.avatar { width: 18.4375rem; height: 19.875rem; }
span.welcome { background-color: rgb(232, 103, 107); padding: .375rem .75rem; position: relative; font-family: 'Open Sans'; font-size: .875rem; font-weight: bolder; color: rgb(255, 255, 255); margin-top: 80px; }
p.resumeP { padding-top: 9px; }
span.welcome span.triangle { border: .5rem solid transparent; display: block; width: 0; border-top: 0; border-left-color: rgb(232, 103, 107); position: absolute; top: 100%; left: .25rem; }
div.message { padding-top: .25rem; color: rgb(61, 68, 81); max-width: 29.375rem; }
img.avatar { padding-right: 4rem; }
img.avatar, div.message { float: left; }
div.userCard { padding-top: 3.5rem; padding-left: 3.125rem; }
span.descript { font-size: 1.125rem; }
span.iam { font-family: 'Open Sans Light'; padding-right: 1rem; font-weight: 100; font-size: 2.25rem; }
span.name { font-family: 'Open Sans'; font-size: 2.25rem; }
hr.cardHr { width: 29.375rem; height: 0; border-top: 1px solid rgb(222, 222, 222); margin-top: 25px; margin-bottom: 25px; }
.messageList dt { float: left; width: 30%; font-weight: bold; padding-bottom: 10px; }
.messageList dd { margin: 0; float: left; width: 70%; color: #9da0a7; padding-bottom: 12px; }
nav.logoNavBar { text-align: center; padding: 1rem 0; }
nav.logoNavBar a { padding: 0 3.6rem; }
nav.logoNavBar a:hover img{ box-shadow: 0px 0px 3px 0px rgba(77,72,77,1); }
nav.logoNavBar img { width: 1.875rem; height: 1.875rem; border-radius: 50%}
/*下载按钮*/
a.download { border: 1px solid rgb(203, 205, 207); display: inline-block; font-size: 1rem; color: rgb(61, 68, 81); font-family: 'Open Sans'; font-weight: bold; padding: 1.3125rem 3.4375rem; transition: box-shadow 0.3s; border-radius: 3px; }
div.downloadWrapper { text-align: center; margin-top: 3.3125rem; }
a.download:hover { box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.36); }
p.selfIntroduction { font-family: 'Open Sans Light'; font-size: 1.25rem; line-height: 2.25rem; width: 58.125rem; margin: 1.625rem auto 0 auto; color: #000000; text-align: center; }
/*技能条展示*/
section.skillShow { width: 58.125rem; font-size: .875rem; font-family: 'Open Sans'; margin: 0 auto; }
section.skillShow h2 { text-align: center; font-size: 2.125rem; color: rgb(61, 68, 81); font-family: 'Open Sans'; margin-top: 3rem; margin-bottom: 2rem; font-weight: bold; }
section.skillShow ul { background-color: rgb(255, 255, 255); box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.52); margin-bottom: 1rem; padding-top: 1.375rem; padding-bottom: 1.6875rem; }
section.skillShow ul li { float: left; width: 50%; padding-bottom: 1.4375rem; box-sizing: border-box; }
section.skillShow ul li:nth-child(odd) { padding-left: 3.125rem; }
section.skillShow ul li:nth-child(even) { padding-left: 1.875rem; padding-right: 3.125rem; }
section.skillShow ul li p { font-size: .875rem; font-family: 'Open Sans Light'; margin-bottom: 1rem;}
section.skillShow ul li div.processBar { overflow: hidden; height: 5px; background-color: rgb(250, 225, 225); border-radius: 2px; }
section.skillShow ul li div.processBar div.process { background-color: rgb(232, 103, 107); height: 100%; border-radius: 2px; transform: translateX(0); transition: all 2s;}
section.skillShow.offset ul li div.processBar div.process { transform: translateX(-100%); }
[atarget] { transition: all 1s; }
.offset { transform: translateY(200px); }
section.display {
  max-width: 620px;
  margin: 40px auto;
  position: relative;
}
section.display h2 {
  text-align: center;
  font-size: 2.125rem;
  color: rgb(61, 68, 81);
  font-family: 'Open Sans';
  margin-top: 3rem;
  margin-bottom: 2rem;
  font-weight: bold;
}
section.display .courselArrow {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
section.display .courselArrow:focus {
  outline: none;
}
section.display .swiper-button-prev {
  right: 100%;
  position: absolute;
}